[Unit]
Description=Proton - high performance Pinba storage server.
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

EnvironmentFile=/etc/proton-server/options
ExecStart=/usr/bin/proton-server $OPTIONS

Restart=always
RestartSec=10

MemoryLimit=200M
MemoryAccounting=true

[Install]
WantedBy=multi-user.target